/*
    Name: Wen Qiu
    Date: April 20, 2019
    Section: CSE 154 AJ
    This is the style.css page for the LinkedIntList playground.
*/

main, header, #menu-view {
  width: 100%;
}

main, #code-area {
  color: white;
}

header {
  z-index: 1;
}

body, button {
  font-family: monaco, sans-serif;
}

body, #canvas, #button-control, #editor, #node-container, #menu-view {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu-view input, #menu-view button, h2, .nodes p {
  color: #838383;
}

#menu-view, header, #editor, #code-area {
  background-color: #838383;
}

#menu-view {
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  font-size: 50px;
  flex-direction: column;
  z-index: 2;
}

#menu-view input, .nodes p {
  font-size: 40px;
  text-align: center;
}

#menu-view, button {
  border-radius: 10px;
}

#menu-view input, #restart {
  border-width: 0px;
}

#menu-view input {
  margin-left: 10px;
  margin-right: 10px;
}

#menu-view button {
  margin-top: 10px;
  width: 400px;
}

#restart {
  background-image: url("img/pull_ring.png");
  background-size: cover;
  height: 176px;
  width: 64px;
  margin-left: 90%;
}

#restart:hover {
  animation: slide-down;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

#restart:default {
  animation: slide-up;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes slide-down {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

.hide-menu-view {
  animation: hide-menu;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

.show-menu-view {
  animation: show-menu;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes hide-menu {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-800px);
  }
}

@keyframes show-menu {
  0% {
    transform: translateY(-800px);
  }
  100% {
    transform: translateY(0px);
  }
}

#data-container, #node-container {
  flex-direction: row;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 20px;
}

.hidden {
  display: none;
}

#canvas {
  margin-top: 80px;
  flex-flow: row wrap;
}

h2 {
  margin-right: 10px;
  margin-left: 10px;
}

.nodes {
  width: 150px;
  height: 60px;
  background-image: url("img/node.png");
  background-size: cover;
}

.nodes p {
  font-size: 40px;
  width: 80px;
  margin-top: 5px;
  margin-bottom: 0px;
}

#interface {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#code-area {
  font-size: 20px;
  margin-left: 50px;
}

#editor {
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  height: 100px;
}

#button-control {
  margin-top: 20px;
  justify-content: space-around;
}

button {
  width: 120px;
  height: 50px;
  font-size: 30px;
}
